.layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 260px;
    /* Width of sidebar */
    background-color: var(--bg-primary);
}

.content-container {
    padding: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}